<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My crete page</title>
</head>
<body>
    <div style="
    background: radial-gradient(circle,gold,black);
    height: 100vh;
    padding-left: 470px;
    
   
    padding-top: 120px;
    ">

    <div style="color: gold;
    background-color: black;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    padding-top: 20px;
    
    border-style: solid;
    ">
    <h4 style="font-size: 25px; text-align: center;">Create Account</h4>
    <form method="POST">
    <div>
        <p style="padding-left: 80px;">Full Name</p>
        <input type="text" name="full_name" style="width:300px;
        height:30px;
        margin-left:80px;
        border-radius:10px;
        border:1px solid gold;
        background:#111;
        color:white;
        padding-left:15px;
        margin-bottom:25px;" />
        <p style="padding-left: 80px;">Email Id</p>
        <input type="email" name="email" style="width:300px;
        height:30px;
        margin-left:80px;
        border-radius:10px;
        border:1px solid gold;
        background:#111;
        color:white;
        padding-left:15px;
        margin-bottom:25px;"/>
        <p style="padding-left: 80px;">Password</p>
        <input type="password" name="password" style="width:300px;
        height:30px;
        margin-left:80px;
        border-radius:10px;
        border:1px solid gold;
        background:#111;
        color:white;
        padding-left:15px;
        margin-bottom:25px;"/>
        <p style="padding-left: 80px;">Confirm Password</p>
        <input type="password" name="confirm_password" style="width:300px;
        height:30px;
        margin-left:80px;
        border-radius:10px;
        border:1px solid gold;
        background:#111;
        color:white;
        padding-left:15px;
        margin-bottom:25px;"/>


       <div style="display: flex;
        justify-content: center;
        padding-top: 130px;">
         <button style=" 
         height: 40px;
         width: 550px;
        background: linear-gradient(white,gold);
        border-radius: 10px;
        border-style: solid;
        
        ">Create Account</button>
       </div>
    </div>
    </form>
    </div>
    </div>


</body>
</html>